<div class="row">
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Facility 1</div>
            <div class="panel-body">
                <b>Tel:</b> 01234567890 <br />
                <b>Web Site:</b> www.facility1.com <br />
                <b>Avarage Waiting Time :</b> 20 Min <br />
                <b>Enterance Rule :</b> First Come Frist Serve <br />
                <button class="btn btn-default pull-right">Facility Details</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Facility 2</div>
            <div class="panel-body">
                <b>Tel:</b> 01234567890 <br />
                <b>Web Site:</b> www.facility2.com <br />
                <b>Avarage Waiting Time :</b> 20 Min <br />
                <b>Enterance Rule :</b> First Come Frist Serve <br />
                <button class="btn btn-default pull-right">Facility Details</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Facility 3</div>
            <div class="panel-body">
                <b>Tel:</b> 01234567890 <br />
                <b>Web Site:</b> www.facility3.com <br />
                <b>Avarage Waiting Time :</b> 20 Min <br />
                <b>Enterance Rule :</b> First Come Frist Serve <br />
                <button class="btn btn-default pull-right">Facility Details</button>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="panel panel-default">
            <div class="panel-heading">Facility 4</div>
            <div class="panel-body">
                <b>Tel:</b> 01234567890 <br />
                <b>Web Site:</b> www.facility4.com <br />
                <b>Avarage Waiting Time :</b> 20 Min <br />
                <b>Enterance Rule :</b> First Come Frist Serve <br />
                <button class="btn btn-default pull-right">Facility Details</button>
            </div>
        </div>
    </div>
</div>
