
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<h1 style="margin:5px">Apointments in @ViewBag.facilityName</h1>
<div style="max-height:480px;max-width:500px">
    <div class="row">
        <div class="panel panel-success">
            <div class="panel-heading">Ahmed</div>
            <div class="panel-body">
                <b>Request Date:</b> 17/3/2018 10:00<br />
                <b>Confirmed Date :</b> 17/3/2018 10:30 <br />
                <b>status :</b> ay haga <br />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">Mohamed</div>
            <div class="panel-body">
                <b>Request Date:</b> 17/3/2018 10:00<br />
                <button class="btn btn-default">Confirm</button>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-danger">
            <div class="panel-heading">Ali</div>
            <div class="panel-body">
                <b>Request Date:</b> 17/3/2018 10:00<br />
                <b>Confirmed Date :</b> 17/3/2018 10:30 <br />
                <b>status :</b> ay haga <br />
            </div>
        </div>
    </div>
</div>


