<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr style="height:100px">
                <td class="text-center">Saturday</td>
                <td class="text-center color1">
                    My Hospital <br /> From 10 AM To 12 PM
                </td>
                <td class="text-center color2">My Clinic1 <br /> From 1 PM To 3 PM</td>
                <td class="text-center color3">My Clinic2 <br /> From 6 AM To 10 PM</td>
            </tr>
            <tr style="height:100px">
                <td class="text-center">Sunday</td>
                <td class="text-center color3">
                    My Hospital <br /> From 10 AM To 12 PM
                </td>
                <td class="text-center color4">My Clinic1 <br /> From 1 PM To 3 PM</td>
                <td class="text-center color1">My Clinic2 <br /> From 6 AM To 10 PM</td>
            </tr>
            <tr style="height:100px">
                <td class="text-center">Monday</td>
                <td class="text-center color4">
                    My Hospital <br /> From 10 AM To 12 PM
                </td>
                <td class="text-center color1">My Clinic1 <br /> From 1 PM To 3 PM</td>
                <td class="text-center color2">My Clinic2 <br /> From 6 AM To 10 PM</td>
            </tr>
            <tr style="height:100px">
                <td class="text-center">Tuesday</td>
                <td class="text-center color1">
                    My Hospital <br /> From 10 AM To 12 PM
                </td>
                <td class="text-center color3">My Clinic1 <br /> From 1 PM To 3 PM</td>
                <td class="text-center color4">My Clinic2 <br /> From 6 AM To 10 PM</td>
            </tr>
        </tbody>
    </table>
</div>