<div class="table-responsive">
    <table class="table table-bordered">
        <tbody>
            <tr style="height:100px">
                <td class="text-center">Saturday</td>
                <td class="text-center color1">
                    My Hospital <br /> From 10 AM To 12 PM
                </td>
                <td class="text-center color2">My Clinic1 <br /> From 1 PM To 3 PM</td>
                <td class="text-center color3">My Clinic2 <br /> From 6 AM To 10 PM</td>
            </tr>
            <tr style="height:100px">
                <td class="text-center">Sunday</td>
                <td class="text-center color3">
                    My Hospital <br /> From 10 AM To 12 PM
                </td>
                <td class="text-center color4">My Clinic1 <br /> From 1 PM To 3 PM</td>
                <td class="text-center color1">My Clinic2 <br /> From 6 AM To 10 PM</td>
            </tr>
            <tr style="height:100px">
                <td class="text-center">Monday</td>
                <td class="text-center color4">
                    My Hospital <br /> From 10 AM To 12 PM
                </td>
                <td class="text-center color1">My Clinic1 <br /> From 1 PM To 3 PM</td>
                <td class="text-center color2">My Clinic2 <br /> From 6 AM To 10 PM</td>
            </tr>
            <tr style="height:100px">
                <td class="text-center">Tuesday</td>
                <td class="text-center color1">
                    My Hospital <br /> From 10 AM To 12 PM
                </td>
                <td class="text-center color3">My Clinic1 <br /> From 1 PM To 3 PM</td>
                <td class="text-center color4">My Clinic2 <br /> From 6 AM To 10 PM</td>
            </tr>
        </tbody>
    </table>
</div>
<button type="button" class="btn btn-default" data-toggle="modal" data-target="#myModal">
    Add to Schedule
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <!--/.col-md-3-->
                    <div class="col-md-12 col-sm-12">
                        <div class="form-group">
                            <label for="Days">Day</label>
                            <select name="Days" id="Days" class="form-control">
                                <option>Saturday</option>
                                <option>Sunday</option>
                                <option>Monday</option>
                            </select>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Facilities">Facility</label>
                                    <select name="Facilities" id="Facilities" class="form-control">
                                        <option>Facility 1</option>
                                        <option>Facility 2</option>
                                        <option>Facility 3</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="From">From</label>
                                    <input type="text" class="form-control" id="From" name="From" />
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="To">To</label>
                                    <input type="text" class="form-control" id="To" name="To" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>