
@{
    ViewData["Title"] = "AddNewSubstance";
}

<h2>AddNewSubstance</h2>
<h4>* All the data will be in English Language</h4>
<div class="container">
    <div class="row">
        <div class="row">
            <div class="form-group col-md-12">
                <label for="Substance_Name">
                    Substance Name
                </label>
                <input id="Substance_Name" name="Substance_Name" type="text" value="zzzz" class="form-control" />
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="Pregnancy_Category">
                    Pregnancy Category
                </label>
                <select id="Pregnancy_Category" name="Pregnancy_Category" class="form-control">
                    <option>category 1</option>
                    <option>category 2</option>
                    <option>category 3</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-12">
                <label for="Pregnancy_Category">
                    Pregnancy Category
                </label>
                <select id="Pregnancy_Category" name="Pregnancy_Category" class="form-control">
                    <option>category 1</option>
                    <option>category 2</option>
                    <option>category 3</option>
                </select>
            </div>
        </div>
    </div>
</div>

