
@{
    ViewData["Title"] = "Index";
}
<link href="~/js/DataTable/jquery.dataTables.min.css" rel="stylesheet" />
<div class="row" style="margin:20px">
    <a href="/Drugs/Admin/AddNewSubstance" class="btn btn-default">Add New Substance</a>
</div>
<div class="table-responsive">
    <div id="DataTables_Table_1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap no-footer">
        <br />
        <div class="col-sm-12">
            <table class="table table-bordered js-dataTable-full dataTable no-footer" id="DataTables_Table" role="grid" aria-describedby="DataTables_Table_1_info" width="100%">
                <thead>
                    <tr role="row">
                        <th class="text-center">
                            Substance Name
                        </th>
                        <th class="text-center">
                            Side Effect
                        </th>
                        <th class="text-center">
                            Food Interaction
                        </th>
                        <th class="text-center">
                            Treatment Disease
                        </th>
                        <th class="text-center">
                            Interact Disease
                        </th>
                        <th class="text-center">
                            Interact Substance
                        </th>
                        <th class="text-center">
                        </th>
                        <th class="text-center">
                        </th>

                    </tr>
                </thead>
                <tbody id="theTbody">
                    <tr role="row">
                        <td class="text-center">
                            Substance 1 <br />(<a data-toggle="modal" data-target="#editMainData">En</a> -<a data-toggle="modal" data-target="#editMainData">Ar</a>)
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary sideEffect">View</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary foodInteraction">View</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary treatmentDisease">View</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary interactDisease">View</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary interactSubstance">View</button>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-link addOtherLang" data-toggle="modal" data-target="#myModal">
                                add other language
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-link remove-Link RemoveSubstance" data-toggle="modal" data-target="#myModal">
                                Remove
                            </a>
                        </td>
                    </tr>
                    <tr role="row">
                        <td class="text-center">
                            substance 2 <br />(<a data-toggle="modal" data-target="#editMainData">En</a> -<a data-toggle="modal" data-target="#editMainData">Ar</a>)
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary sideEffect">View</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary foodInteraction">View</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary treatmentDisease">View</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary interactDisease">View</button>
                        </td>
                        <td class="text-center">
                            <button class="btn btn-primary interactSubstance">View</button>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-link addOtherLang" data-toggle="modal" data-target="#myModal">
                                add other language
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-link remove-Link RemoveSubstance" data-toggle="modal" data-target="#myModal">
                                Remove
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Data with other Language</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="Languages">
                            Choose Language
                        </label>
                        <select id="Languages" name="Languages" class="form-control">
                            <option>En</option>
                            <option>Ar</option>
                            <option>Fr</option>
                        </select>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="Substance_Name">
                            Substance Name
                        </label>
                        <input id="Substance_Name" name="Substance_Name" type="text" value="zzzz" class="form-control" />
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="Ph_Patiant">
                            Pharmacological Family Patiant Data
                        </label>
                        <textarea id="Ph_Patiant" name="Ph_Patiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="Ph_Professional">
                            Pharmacological Family Professional Data
                        </label>
                        <textarea id="Ph_Professional" name="Ph_Professional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="PregnancyPatiant">
                            Pregnancy Patiant Data
                        </label>
                        <textarea id="PregnancyPatiant" name="PregnancyPatiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="PregnancyProfessional">
                            Pregnancy Professional Data
                        </label>
                        <textarea id="PregnancyProfessional" name="PregnancyProfessional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="LactationPatiant">
                            Lactation Patiant Data
                        </label>
                        <textarea id="LactationPatiant" name="LactationPatiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="LactationProfessional">
                            Lactation Professional Data
                        </label>
                        <textarea id="LactationProfessional" name="LactationProfessional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="DosagePatiant">
                            Dosage Patiant Data
                        </label>
                        <textarea id="DosagePatiant" name="DosagePatiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="DosageProfessional">
                            Dosage Professional Data
                        </label>
                        <textarea id="DosageProfessional" name="DosageProfessional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="OverDosagePatiant">
                            Over Dosage Patiant Data
                        </label>
                        <textarea id="OverDosagePatiant" name="OverDosagePatiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="OverDosageProfessional">
                            Over Dosage Professional Data
                        </label>
                        <textarea id="OverDosageProfessional" name="OverDosageProfessional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editMainData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Data</h4>
            </div>
            <div class="modal-body">
                
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="Substance_Name">
                            Substance Name
                        </label>
                        <input id="Substance_Name" name="Substance_Name" type="text" value="zzzz" class="form-control" />
                    </div>
                </div>


                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="Ph_Patiant">
                            Pharmacological Family Patiant Data
                        </label>
                        <textarea id="Ph_Patiant" name="Ph_Patiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="Ph_Professional">
                            Pharmacological Family Professional Data
                        </label>
                        <textarea id="Ph_Professional" name="Ph_Professional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="PregnancyPatiant">
                            Pregnancy Patiant Data
                        </label>
                        <textarea id="PregnancyPatiant" name="PregnancyPatiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="PregnancyProfessional">
                            Pregnancy Professional Data
                        </label>
                        <textarea id="PregnancyProfessional" name="PregnancyProfessional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="LactationPatiant">
                            Lactation Patiant Data
                        </label>
                        <textarea id="LactationPatiant" name="LactationPatiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="LactationProfessional">
                            Lactation Professional Data
                        </label>
                        <textarea id="LactationProfessional" name="LactationProfessional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="DosagePatiant">
                            Dosage Patiant Data
                        </label>
                        <textarea id="DosagePatiant" name="DosagePatiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="DosageProfessional">
                            Dosage Professional Data
                        </label>
                        <textarea id="DosageProfessional" name="DosageProfessional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="OverDosagePatiant">
                            Over Dosage Patiant Data
                        </label>
                        <textarea id="OverDosagePatiant" name="OverDosagePatiant" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-12">
                        <label for="OverDosageProfessional">
                            Over Dosage Professional Data
                        </label>
                        <textarea id="OverDosageProfessional" name="OverDosageProfessional" class="form-control">aaaaaa</textarea>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="~/js/DataTable/jquery.dataTables.min.js"></script>
    <script src="~/js/DataTable/base_tables_datatables.js"></script>
    <script>
        let viewSubstanceData = (() => {
            //Get side Effect data
            $('#DataTables_Table tbody').on('click', 'button.sideEffect', function () {
                var tr = $(this).closest('tr');
                var nextTr = tr.next('tr')
                //check if the data is opened before
                if (nextTr.hasClass('details')) {
                    nextTr.remove()
                } else {
                    //we will get the data from server using Ajax
                    tr.after(`<tr class="details"><td colspan="6">side Effect 1</td></tr>`);
                }
            });

            //Get Food Intraction data
            $('#DataTables_Table tbody').on('click', 'button.foodInteraction', function () {
                var tr = $(this).closest('tr');
                var nextTr = tr.next('tr')
                //check if the data is opened before
                if (nextTr.hasClass('details')) {
                    nextTr.remove()
                } else {
                    //we will get the data from server using Ajax
                    tr.after(`<tr class="details"><td colspan="6">Food 1 <br/> Food 2</td></tr>`);
                }
            });

            //Get Treatment Disease data
            $('#DataTables_Table tbody').on('click', 'button.treatmentDisease', function () {
                var tr = $(this).closest('tr');
                var nextTr = tr.next('tr')
                //check if the data is opened before
                if (nextTr.hasClass('details')) {
                    nextTr.remove()
                } else {
                    //we will get the data from server using Ajax
                    tr.after(`<tr class="details"><td colspan="6">Disease 1 <br/> Disease 2</td></tr>`);
                }
            });

            //Get Treatment Disease data
            $('#DataTables_Table tbody').on('click', 'button.interactDisease', function () {
                var tr = $(this).closest('tr');
                var nextTr = tr.next('tr')
                //check if the data is opened before
                if (nextTr.hasClass('details')) {
                    nextTr.remove()
                } else {
                    //we will get the data from server using Ajax
                    tr.after(`<tr class="details"><td colspan="6">Disease 1 <br/> Disease 2</td></tr>`);
                }
            });

            //Get Treatment Disease data
            $('#DataTables_Table tbody').on('click', 'button.interactSubstance', function () {
                var tr = $(this).closest('tr');
                var nextTr = tr.next('tr')
                //check if the data is opened before
                if (nextTr.hasClass('details')) {
                    nextTr.remove()
                } else {
                    //we will get the data from server using Ajax
                    tr.after(`<tr class="details"><td colspan="6">substance 1 <br/> Substance 2</td></tr>`);
                }
            });
        })()
    </script>
}
