/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification\ 
for details on configuring this project to bundle and minify static web assets. */
body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #f8f9f9
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

/* QR code generator */
#qrCode {
    margin: 15px;
}

/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
    /* Hide captions */
    .carousel-caption {
        display: none;
    }
}

.table > tbody > tr > td {
    vertical-align: middle;
}

    .table > tbody > tr > td.color1 {
        background-color: #577F92;
        color: white
    }
    .table > tbody > tr > td.color2 {
        background-color: #513e63;
        color: white
    }
    .table > tbody > tr > td.color3 {
        background-color: #A2B9B2;
        color: white
    }

    .table > tbody > tr > td.color4 {
        background-color: #f6b067;
        color: white
    }

.remove-Link {
    color: #cc4e4e;
}

